.venv/
__pycache__/
*.py[cod]
.pytest_cache/
build/
dist/
*.spec
!I2PTorrents.spec
icon.png
I2PTorrents.ico
I2PTorrents.icns
I2PTorrents.iconset/
I2PTorrents.AppDir/
appimagetool-*.AppImage
I2PTorrents-*.zip
I2PTorrents-*.AppImage
